body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  counter-reset: h3counter;
  text-indent: 0;
}

header {
  text-align: center;
  padding: 2rem 0;
  background-color: #f5f5f5;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: 2 rem;
  color: black;
  margin-bottom: 1rem;
}

h2,
h3,
h4 {
  color: rgb(15, 4, 83);
}

h2 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  counter-increment: h3counter;
  position: relative;
}


h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p {
  text-indent: 2em;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto; /* Horizontal centering */
}

img {
  max-width: 100%; /* Responsive image */
}
