{% extends "base.html" %}    
{% block content %}

{% block staticgraph %}
<h1>Race and Enslavement in Incomplete Data</h1>
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> this is new!-->
<script>
    function cb(selection) { //I think the problem here might be that the callback function doesn't know that graphJSON is a list?
        $.getJSON({
            url: "/callback", data: { 'data': selection }, success: function (result) {
                Plotly.newPlot('chart', result, {staticPlot: true});;
            }
        });
    }
</script>


    <h2>Total Tax Value by Role and County</h2>
    <div class="container">
        <div class="left-column">
            <h3>Choose your county</h3>
            <p>Make sure you spell it correctly with capital letter(s), e.g. Fluvanna</p>
            <input type="text" id="fname" name="fname" onchange="cb(this.value)">
            <div id="graph" class="graph"></div>
        </div>
        <div class = "right-column">
            <p>Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
                Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left. Here's a description of the graph to the left.
            </p>
        </div>
    </div>
    <h2>Count of Black Males Taxed by Role and County</h2>
    <div id="graph2"  class="graph"></div>
    <h2>Count of White Males Taxed by Role and County</h2>
    <div id="graph3"  class="graph"></div>
    <h2>Total Tax Value by Role and Confirmed or Unconfirmed Formerly Enslaved</h2>
    <div id="graph4"  class="graph"></div>
{% endblock %}

<script>
    graph1 = {{ graphJSON[0] | safe }};
    //d.config={staticPlot: true};
    Plotly.newPlot('graph', graph1, {});
    
</script>

<script type="text/javascript">
    graph2 = {{ graphJSON[1] | safe }};
    
    Plotly.newPlot('graph2', graph2, {});

</script>

<script type="text/javascript">
    graph3 = {{ graphJSON[2] | safe }};
    
    Plotly.newPlot('graph3', graph3, {});

</script>

<script type="text/javascript">
    graph4 = {{ graphJSON[3] | safe }};
    
    Plotly.newPlot('graph4', graph4, {});

</script>

{% endblock %}