{% extends "base.html" %}    
{% block content %}

<!-- title -->

{% block title %}
{% endblock %}


{% block graphbar %}

<h1>Interactive Graph</h1>
<div class="row card red lighten-5 search-container">
    <form action="{{ url_for('graph') }}" method="POST" class="col s12">  <!--Is this correct? I didn't find where the search function is-->
        <div class="row center-align">
            <div class="input-field col s12 m4">
                <label for="x_col">X-Value:</label><br>
                <select id="x_col" name="x_col" class="input--style-1">
                    <option value='' selected> Select... </option>
                    {% for c in columns %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select><br>
                <label for="y_col">Y-Value:</label><br>
                <select id="y_col" name="y_col" class="input--style-1">
                    <option value='' selected> Select... </option>
                    {% for c in columns %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s12 m4">
                <label for="group_col">Group:</label><br>
                <select id="group_col" name="group_col" class="input--style-1">
                    <option value="" selected> None </option>
                    {% for c in columns %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="agg_func">Aggregation function:</label><br>
                <!--input type="radio" name="agg_options" id="none" value=""> none </input><br-->
                <input type="radio" name="agg_options" id="mean" value="mean"> mean </input><br>
                <input type="radio" name="agg_options" id="median" value="median"> median </input><br>
                <input type="radio" name="agg_options" id="count" value="count"> count </input><br>
                <label for="fig_type">Figure type:</label><br>
                <!--input type="radio" name="fig_options" id="none"-->
                <input type="radio" name="fig_options" id="tab" value="tab"> Table </input><br>
                <input type="radio" name="fig_options" id="bar" value="bar"> Bar Chart </input><br>
                <input type="radio" name="fig_options" id="scatter" value="scatter"> Scatterplot </input><br>
                <br>
            </div>
            <div class="search-buttons col s12 m4">
                <button type="make_graph" class="light-blue darken-1 btn-small">
                    <i class="fas fa-search left"></i> Make graph
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

<div>
    <h5>
        Selected Values: <br>
    </h5>
    <h6>
        X-value: {{ selected_var1 }} <br>
        Y-value: {{ selected_var2 }} <br>
        Grouped by: {{ selected_var3 }} <br>
        Aggregate: {{ selected_agg }} <br>
        Figure Type: {{ selected_fig }} <br>
    </h6>
</div>

<div class="row">
    {% if graphJSON %}  
    <div id="chart2" class="chart">
        <script type='text/javascript'>
        graph = {{ graphJSON | safe }};
        Plotly.plot('chart2', graph, {});
        </script>
    </div>
    --{% elif errorMessage %}
    <div>
        <div class="card-panel white-transparent">
            <h5>{{ errorMessage }}</h5>
        </div>
    </div>
    {% else %}
        <div class="card-panel white-transparent">
            <h5>No Tax Record to display</h5>
        </div>
    {% endif %}
</div>

{% endblock %}