
body {
  margin: 2;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #444;
  text-align: center;
}
title {
  margin: 0;
  font-size: 3em;
  color: #0c3463;
  float: center;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -2px;
}
h1 {
  margin: 0;
  font-size: 3em;
  color: #2a63a4;
  float: center;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h2 {
  margin: 0;
  font-size: 1.7em;
  color: #964d08;
  float: center;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 0px;
}
h3 {
  margin: 0;
  font-size: 1.3em;
  color: #2a63a4;
  float: center;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 0px;
}
h4 {
  margin: 0;
  font-size: 1.7em;
  color: #964d08;
  float: center;
  margin-top: 40px;
  text-align: left;
  letter-spacing: 0px;
}
h5 {
  margin: 0;
  font-size: 1.3em;
  color: #2a63a4;
  float: center;
  margin-top: 40px;
  text-align: left;
  letter-spacing: 0px;
}
h6 {
  margin: 0;
  font-size: 0.9em;
  color: #1b324d;
  float: center;
  margin-top: 40px;
  text-align: left;
  letter-spacing: 0px;
}

.container {
  text-align: center;
}

.left-column {
  flex-basis: 50%;
}

.right-column {
  flex-basis: 50%;
}
.graph {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  float: center;
}
.input-field {
  text-align: left;
}
.search-buttons {
  text-align: left;
}
.chart {
  margin: 20px 0;
  text-align: left;
}
.button {
  background-color: #2a63a4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #964d08;
}
.active {
  background-color: #13345b;
}

/* menu */
nav {
  width: 100%;
  background-color: #964d08;
  height: 50px;
  line-height: 50px;
  text-align: right;
}

.menu-button {
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  position: relative;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  background-color: #964d08;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 25px;
}

.menu-icon:before {
  top: -8px;
}

.menu-icon:after {
  top: 8px;
}

.menu-text {
  color: #d6e2f0;
  margin-left: 30px;
}

.menu-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  display: block;
}

.menu-list li a {
  color: #16569e;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

#menu-toggle:checked ~ .menu-list {
  display: inline;
}

#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}
output-body {
  margin: 2;
  padding: 0;
  color: #444;
  text-align: left;
}
  /*
   * Formatting the header area
   
  header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  header h1.logo {
    margin: 0;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.row {
    width:100%;
  }
  div.column {
    width:50%;
    height:200px;
    float:left;
  }
  div.row:after {
    clear:both;
  }
  h1 {
    font-size: 3em;
    margin-top: 50px;
    text-align: center;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 1.7em;
    margin-top: 40px;
    text-align: left;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  /*.menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }*/